<pz-header></pz-header>
<pz-description></pz-description>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <div class="row">
        <div class="col-12" id="puzzleWrapper">
          <pz-game-container [size]="size"></pz-game-container>
        </div>
      </div>
      <div class="row collapse" id="hintWrapper" aria-expanded="false">
        <div class="col-xs-12">
          <div class="hint-container">
            <h3 id="hintText"></h3>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="puzzleControls" id="puzzleControls">
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <div id="resultWrapper" class="collapse">
        <h4 class="section-heading">Results:</h4>
        <br/>
        <div class="row">
          <div class="col-xs-7"><b>Number of Moves</b></div>
          <div class="col-xs-5">58</div>
        </div>
        <br/>
        <div class="row">
          <div class="col-xs-7"><b>Elapsed Time</b></div>
          <div class="col-xs-5">123 ms</div>
        </div>
        <br/>
        <b>Steps: </b>
        <div class="resultsContainer" id="resultsContainer">
          <div class="resultTile">
            <div class="resultStep resultTileElement">1</div>
            <div class="resultDirection resultTileElement">UP</div>
            <div class="resultText resultTileElement">1,2</div>
          </div>
          <div class="resultTile">
            <div class="resultStep resultTileElement">1</div>
            <div class="resultDirection resultTileElement">DOWN</div>
            <div class="resultText resultTileElement">1,2</div>
          </div>
          <div class="resultTile">
            <div class="resultStep resultTileElement">1</div>
            <div class="resultDirection resultTileElement">LEFT</div>
            <div class="resultText resultTileElement">1,2</div>
          </div>
          <div class="resultTile">
            <div class="resultStep resultTileElement">1</div>
            <div class="resultDirection resultTileElement">RIGHT</div>
            <div class="resultText resultTileElement">1,2</div>
          </div>
        </div>
        <div class="clearfix"></div>
        <br/>
      </div>
      <form name="puzzleForm" class="puzzleForm" id="puzzleForm">
        <h4 class="section-heading">Puzzle Configuration:</h4>
        <br/>
        <div class="form-group row">
          <label class="col-lg-3 col-sm-3 col-xs-12 col-form-label">Puzzle Size:</label>

          <div class="col-xs-12 col-sm-9 col-lg-9">
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" [(ngModel)]="size" name="puzzleSize" id="puzzleSize3" [value]="3" [checked]="size == 3" (change)="refreshAlgorithmOptions()"> 3
              </label>
            </div>
            <div class="form-check form-check-inline">
              <label class="form-check-label">
                <input class="form-check-input" type="radio" [(ngModel)]="size" name="puzzleSize" id="puzzleSize4" [value]="4" [checked]="size == 4" (change)="refreshAlgorithmOptions()"> 4
              </label>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="selectedAlgorithmOption" class="col-sm-3 col-form-label">Algorithm Type:</label>

          <div class="col-sm-9">
            <select [(ngModel)]="selectedAlgorithmOption" class="form-control" name="selectedAlgorithmOption" id="selectedAlgorithmOption" (change)="refreshHeuristicOptions()"> // value is an object
              <option *ngFor="let algorithmOption of algorithmOptions" [ngValue]="algorithmOption">{{algorithmOption}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <label for="selectedHeuristicOption" class="col-sm-3 col-form-label">Heuristic type:</label>

          <div class="col-sm-9">
            <select [(ngModel)]="selectedHeuristicOption" class="form-control" name="selectedHeuristicOption" id="selectedHeuristicOption"> // value is an object
              <option *ngFor="let heuristicOption of heuristicOptions" [ngValue]="heuristicOption">{{heuristicOption}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">
            <button class="btn btn-custom1" id="submitForm" (click)="updatePuzzle()">Submit</button>
          </div>
        </div>
      </form>
      <div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="showFeedback">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
         {{feedMsg}}
      </div>
    </div>
  </div>
  <div class="row steps-row">
    <div class="col-xs-6 col-sm-4 col-lg-3" *ngFor="let step of solution">
      <div class="card">
        <div class="card-header">
          <h4>{{step.title}}</h4>
        </div>
        <div class="card-block">
          <!--<h3 class="card-title"></h3>-->
          <h5 class="card-subtitle mb-2 text-muted">{{step.move}}</h5>
          <small class="text-muted">(g = {{step.g}}, h = {{step.h}}, f = {{step.cost}})</small>
          <p class="card-text element-row" *ngFor="let puzzleRow of step.puzzle.elements">
            <span class="element" *ngFor="let element of puzzleRow">{{element}}</span>&nbsp;&nbsp;
          </p>
          <hr/>
          <ul>
            <li *ngFor="let successor of step.successors; let i = index">
              <h6 class="text-muted" style="margin-bottom: 5px;">Successor {{i+1}}</h6>
              <div style="margin-bottom: 10px;"><small>(g = {{successor.g}}, h = {{successor.h}}, f = {{successor.cost}})</small></div>
              <p class="element-row" *ngFor="let puzzleRow of successor.puzzle.elements">
                <span class="element" *ngFor="let element of puzzleRow">{{element}}</span>&nbsp;&nbsp;
              </p>
              <br/>
            </li>
          </ul>
          <hr/>
          <h3 class="card-title">Open List</h3>
          <ul>
            <li *ngFor="let node of step.openList; let i = index">
              <h6 class="text-muted" style="margin-bottom: 5px;">Element {{i+1}}</h6>
              <div style="margin-bottom: 10px;"><small>(g = {{node.g}}, h = {{node.h}}, f = {{node.cost}})</small></div>
              <p class="element-row" *ngFor="let puzzleRow of node.puzzle.elements">
                <span class="element" *ngFor="let element of puzzleRow">{{element}}</span>&nbsp;&nbsp;
              </p>
              <br/>
            </li>
          </ul>
          <h3 class="card-title">Closed List</h3>
          <ul>
            <li *ngFor="let node of step.closedList; let i = index">
              <h6 class="text-muted" style="margin-bottom: 5px;">Element {{i+1}}</h6>
              <div style="margin-bottom: 10px;"><small>(g = {{node.g}}, h = {{node.h}}, f = {{node.cost}})</small></div>
              <p class="element-row" *ngFor="let puzzleRow of node.puzzle.elements">
                <span class="element" *ngFor="let element of puzzleRow">{{element}}</span>&nbsp;&nbsp;
              </p>
              <br/>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
