<div class="puzzle-description collapse" id="puzzleDescription" aria-expanded="false">
  <div class="container">
    <p>This application finds the optimal solution to solve a 8 or
      15-puzzle. By optimal solution, we mean a solution requiring the
      minimum numbers of moves.</p>

    <p>
      Different algorithms are implemented : <a href="http://en.wikipedia.org/wiki/Breadth-first_search">Breadth
      First Search</a>, <a href="http://en.wikipedia.org/wiki/A_star">A*</a>
      or <a href="http://www.google.be/search?q=Iterative+deepening+A*">Iterative
      Deepening A* (IDA*)</a>. You can use and compare these algorithms only
      for the 8-puzzle. Indeed, only IDA* are able to resolve a 15-puzzle
      relatively fast and without consuming too much memory.
    </p>

    <p>A* and IDA* algorithms use heuristic function to find the
      optimal solution. Three heuristic functions are proposed : Manhattan
      Distance, Linear Conflict and Database Pattern.</p>

    <p>This web application is developed using Angular2 and bootstrap. You may contribute to this repo by adding missing implementations for Algos and heuristics. Styling is taken from the legendary 2048 game that I love.</p>

    <p>
      The code is open-sourced and can be found <a
      href="https://github.com/vchintan/PuzzleGame">here</a>
    </p>

  </div>
</div>
